 body{
background-image: url(../descarga.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat

 }
 
 
 img{
width: 100%;
height: 200%;
object-fit: cover;
border-radius: 10px;
}

#contenedor{
display: flex;
justify-content: space-between;
align-items: center;
}
#caja1, #caja2, #caja3{
    width: 30%;
    height: 800px;
    background-color: rgb(217, 174, 119);
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
#caja1 img, #caja2 img, #caja3 img{
width: 400px;
height: 250px;
align-items: auto;
}