body{
    background-image: url(../img/escudoTucuman.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
    
     }
     
     
     img{
    width: 300px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
    border-radius: 10px;
    }
    
    #contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    #caja1, #caja2, #caja3{
        width: 30%;
        background-color: rgb(217, 174, 119);
        margin: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: auto;
        text-align: center;
        justify-content: center;
        
    }
    #caja1 img, #caja2 img, #caja3 img{
    width: 100%;
    height: auto;
    align-items: auto;
    margin: 0 auto;
    }

    .titulo, p{
      margin: 0 auto;
      word-wrap: break-word;
    }